.beatmap-panel__loading {
  display: flex;
  align-self: stretch;
  min-width: 270px;
  height: 260px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  background-size: 100%;
}

.cover__loading {
  display: block;
  height: 160px;
  align-self: stretch;
}

.content__loading {
  display: flex;
  gap: 12px;
  padding: 12px 10px;
  align-self: stretch;
  flex-grow: 1;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.info__loading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mapper-avatar__loading {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.big-info__loading {
  display: block;
  width: 150px;
  height: 16px;
  border-radius: 8px;
}

.small-info__loading {
  display: block;
  width: 100px;
  height: 12px;
  border-radius: 8px;
}

.difficulties__loading {
  display: flex;
  gap: 1px;
}

.difficulty-info__loading {
  margin-top: 8px;
  display: flex;
  gap: 4px;
}

.difficulty-icon__loading {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.difficulty__loading {
  display: block;
  width: 6px;
  height: 16px;
  border-radius: 6px;
}

.animated {
  opacity: 0.5;
  animation: placeholder-anim 3s infinite;
}

@keyframes placeholder-anim {
  0% {
    opacity: 0.5
  }
  50% {
    opacity: 0.25
  }
  100% {
    opacity: 0.5
  }
}

@media(prefers-color-scheme: light) {
  .animated {
    background: #f5f5f5;
  }

  .content__loading {
    background: #f5f5f5;
  }
}

@media(prefers-color-scheme: dark) {
  .animated {
    background: #939090;
  }

  .content__loading {
    background: #1D1B20;
  }
}