@import '@angular/material/core/theming/theming';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body, .mat-app-background, .mat-typography {
    font-family: 'Nunito', sans-serif !important;
  }

  /* keyframes animation */

  @keyframes expand {
    0% {
      height: 100%;
    }
    100% {
      height: 110%;
    }
  }

  /* css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
}

.grid-item {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 273px;
  min-height: 273px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio 100% */
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-info{
  order: 2;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 12px;
  background-color: #F9F9F9;
}

.grid-item img {
  max-width: 100%;
  max-height: 200px; /* Ensure the image fits within the max height */    
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-info{
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  background-color: #F9F9F9;
  letter-spacing: 0.25px;
}

.map-into-text {
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  max-width: calc(100% - 52px);
}

.map-into-text p {
  margin: 0;
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display ellipsis when text overflows */
  white-space: nowrap; 
}

.map-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.font-color {
  color: #777777;
}

.difficulties {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  margin-top: 8px;
}

.difficulty-box {
  display: inline-block;
  width: 6px;
  height: 14px;
  margin-right: 2px;
  border-radius: 6px;
}

.beginner {
  background-color: #4290FF ;
}

.easy {
  background-color: #4DBAFF ;
}

.normal {
  background-color: #4FFED5 ;
}

.hard {
  background-color: #CAF557 ;
}

.insane {
  background-color: #FD9965 ;
}

.expert {
  background-color: #F94D76  ;
}

.extra {
  background-color: #B04CC0  ;
}

.extra-plus {
  background-color: #4E4CC6  ;
}

.ultra {
  background-color: #12106D  ;
}

.impossible {
  background-color: #090838  ;
}

.unrankeable {
  background-color: #000002   ;
}

// .difficulties img {
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   margin-right: 4px;
// }

.map-info:hover ~ .image-wrapper {
  padding-bottom: 39.37%; /* 16:9 aspect ratio 70%*/
  transition: padding-bottom 0.3s;
}
