<div *ngIf="beatmaps$ | async as beatmaps; else loading">
    <ul>
      <li *ngFor="let beatmapetListing of beatmaps">
      <h2>{{ beatmapetListing.display_data.title }}</h2>
      <p>Artist: {{ beatmapetListing.display_data.artist }}</p>
      <p>Creator: {{ beatmapetListing.display_data.mapper }}</p>
      <img [src]="beatmapetListing.display_data.thumbnail" alt="{{ beatmapetListing.display_data.title }} cover" />
      </li>
    </ul>
  </div>
  
  <ng-template #loading>
    <p>Loading beatmaps...</p>
  </ng-template>