@import '@angular/material/core/theming/theming';

[mat-dialog-container] {
  min-width: 400px;
  padding: 16px 12px;
}

[mat-dialog-title] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 32px 32px;

  /* material-theme/headline/small */
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

[mat-dialog-content] {
  overflow: visible;
}

[mat-dialog-content] form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

[mat-flat-button] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 48px;
  min-width: 136px;
}