.sidebar {
  border-right: 1px #c6c6c6 solid;
  display: flex;
  position: fixed;
  padding: 38px 24px 0 24px;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 214px;
}

.title {
  font-size: 24px;
  align-self: center;
}