.footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  place-self: flex-end;
  font-size: 14px;
  gap: 12px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.github-info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.vcenter {
  display: flex;
  align-items: center;
  gap: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  width: 80px;
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: #777;
  }

  .hr {
    background-color: #777;
  }
}

@media (prefers-color-scheme: light) {
  .footer {
    color: #777;
  }

  .hr {
    background-color: #777;
  }
}