<div class="footer">
    <div>
        Graveboard © 2024
    </div>
    <div class="github-info">
        <a href="https://github.com/FlavioAngnes/graveboards-frontend" target="_blank" class="vcenter">
            <img ngSrc="/assets/icons/github.svg" alt="frontend" width="16" height="16" [style.fill]="'#777'">
            Front-end
        </a>
        <span>•</span>
        <a href="https://github.com/pianosuki/graveboards" target="_blank" class="vcenter">
            <img ngSrc="/assets/icons/github.svg" alt="backend" width="16" height="16">
            Back-end
        </a>
    </div>
</div>
