.difficulty-list {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.difficulties {
  display: flex;
  align-items: center;
  gap: 2px;
}

.difficulty {
  width: 6px;
  height: 16px;
  border-radius: 6px;
}

.difficulties .more-difficulties {
  padding-left: 2px;
}

.more-difficulties {
  color: #797979;
  font-size: 12px;
}

@media(prefers-color-scheme: dark) {
  .more-difficulties {
    color: #939090;
  }
}

@media(prefers-color-scheme: light) {
  .more-difficulties {
    color: #797979;
  }
}