<div class="difficulty-list">
    <img ngSrc="/assets/icons/diff.svg" alt="Ruleset" height="16" width="16">
    <div class="difficulties">
        <div class="difficulty" *ngFor="let difficulty of difficulties | slice:0:difficultiesToShow"
             [ngStyle]="{'background-color': color.forStarRating(difficulty)}"></div>
        <div class="more-difficulties">
            <ng-container *ngIf="difficulties.length > difficultiesToShow">
                +{{ difficulties.length - difficultiesToShow }}
            </ng-container>
        </div>
    </div>
</div>