.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding: 0 12px;
  margin-bottom: 16px;
}

@media (prefers-color-scheme: light) {
  .title {
    color: #777;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #b5b5b5;
  }
}