@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100 900;
    src: url('./fonts/Nunito.ttf') format('truetype');
}

body {
    font-family: Nunito, Helvetica, sans-serif;
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
    width: 0;
    height: 0;
}

.range-slider .range-slider__range {
    background: theme('colors.primary.500');
    border-radius: 0.5rem;
}

.range-slider .range-slider__thumb {
    background: theme('colors.primary.500');
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.range-slider {
    background-color: theme('colors.tertiary.300');
    border-radius: 0.5rem;
    height: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    .range-slider {
        background-color: theme('colors.tertiary.700');
    }
}
