@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
    font-style: normal;
    font-weight: 100 900;
    src: url('./fonts/Nunito.ttf') format('truetype');
}

body {
  font-family: Nunito, Helvetica, sans-serif;
}
