<div class="beatmap-panel" *ngIf="beatmap">
    <div class="cover" [ngClass]="{hovered: isHovered}"
         [ngStyle]="{'background-image': 'url(' + beatmap.thumbnail + '), url(\'assets/default-bg.png\')'}">
        <div class="preview-button" [ngClass]="{'playing': audioProgress > 0}">
            <mat-icon [fontIcon]="audioIcon" class="preview-button-icon" (click)=toggleAudio()></mat-icon>
            <mat-progress-bar class="progress-bar" mode="determinate" [value]="audioProgress"></mat-progress-bar>
        </div>
    </div>
    <div class="content" (mouseenter)=onMouseEnter() (mouseleave)=onMouseLeave()>
        <div class="beatmap-metadata grid-item no-wrap-ellipsis">
            <a class="big-info" [href]="'https://osu.ppy.sh/beatmapsets/' + beatmap.beatmapset_id"
               target="_blank">
                {{ beatmap.title }}
            </a>
            <div class="small-info no-wrap-ellipsis">
                by {{ beatmap.artist }}
            </div>
            <div class="small-info no-wrap-ellipsis">
                Mapped by
                <a [href]="'https://osu.ppy.sh/users/' + beatmap.mapper" target="_blank">
                    {{ beatmap.mapper }}
                </a>
            </div>
        </div>
        <div class="mapper grid-item">
            <a class="mapper-avatar" [href]="'https://osu.ppy.sh/users/' + beatmap"
               [ngStyle]="{'background-image': 'url(' + requester.avatar_url + ')'}" target="_blank"></a>
            <div>
                <div class="small-info no-wrap-ellipsis">
                    Requested by
                </div>
                <div class="big-info no-wrap-ellipsis">
                    <a [href]="'https://osu.ppy.sh/users/' + requester.username" target="_blank">
                        {{ requester.username }}
                    </a>
                </div>
            </div>
        </div>
        <div class="difficulty-info grid-item">
            <difficulty-list [difficulties]="beatmap.difficulties"></difficulty-list>
        </div>
        <div class="length grid-item">{{ time.formatTime(beatmap.length) }}</div>
        <div class="editing grid-item">
            <div class="comment">
                <mat-icon fontIcon="comment" [matTooltip]=beatmap.request_data.comment *ngIf="beatmap.request_data.comment"></mat-icon>
            </div>
            <verification-button></verification-button>
            <queue-status-button class="status-button" [beatmapId]="beatmap.id"
                                 [current_status]="beatmap.request_data.status"></queue-status-button>
        </div>
    </div>
</div>
