.difficulties-list-detailed {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.difficulty-expanded {
  display: inline-block;
  padding: 0 8px;
  height: 16px;
  border-radius: 8px;
}

.star-rating {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  line-height: 16px;
}

.difficulty-name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.difficulty-detailed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.more-difficulties {
  font-size: 12px;
}

@media(prefers-color-scheme: dark) {
  .more-difficulties {
    color: #939090;
  }

  .difficulty-name {
    color: #fff;
  }
}

@media(prefers-color-scheme: light) {
  .more-difficulties {
    color: #797979;
  }

  .difficulty-name {
    color: #000;
  }
}