<div class="difficulties-list-detailed">
    <div class="difficulty-detailed"
         *ngFor="let difficulty of difficulties_details | slice:0:(difficulties_details.length > difficulties_to_show ? difficulties_to_show - 1 : difficulties_to_show)">
        <img ngSrc="/src/assets/icons/diff.svg" alt="Ruleset" height="16" width="16">
        <div class="difficulty-expanded"
             [ngStyle]="{'background-color': color.forStarRating(difficulty.difficulty_rating), 'color': difficulty.difficulty_rating > 6.5 ? 'white' : 'black'}">
            <div class="star-rating">
                ★ {{ difficulty.difficulty_rating.toFixed(2) }}
            </div>
        </div>
        <div class="difficulty-name">
            {{ difficulty.version }}
        </div>
    </div>
    <div class="difficulty-detailed" *ngIf="difficulties_details.length > difficulties_to_show">
        <img ngSrc="/src/assets/icons/diff.svg" alt="Ruleset" height="16" width="16">
        <div class="more-difficulties">
            + {{ difficulties_details.length - difficulties_to_show }} more...
        </div>
    </div>
</div>
