<div class="beatmap-panel__loading">
    <div class="cover__loading animated"></div>
    <div class="content__loading">
        <div class="beatmap-metadata__loading grid-item">
            <div class="big-info__loading animated"></div>
            <div class="small-info__loading animated"></div>
            <div class="small-info__loading animated"></div>
        </div>
        <div class="mapper__loading grid-item">
            <div class="mapper-avatar__loading animated"></div>
            <div class="mapper-info__loading">
                <div class="small-info__loading animated"></div>
                <div class="big-info__loading animated"></div>
            </div>
        </div>
        <div class="difficulty-info__loading">
            <div class="difficulty-icon__loading animated"></div>
            <div class="difficulties__loading">
                <div class="difficulty__loading animated"></div>
            </div>
        </div>
    </div>
</div>
