<div class="header">
    Manage Requests
</div>
<div *ngIf="combined$ | async as beatmapQueueRequests; else loading" class="grid-container">
    <request-beatmap-panel-horizontal [beatmap]="beatmapQueueRequest" *ngFor="let beatmapQueueRequest of beatmapQueueRequests"></request-beatmap-panel-horizontal>
</div>

<ng-template #loading>
    <div class="loading">
        <img ngSrc="/assets/icons/loading-circle.svg" alt="loading-circle" height="64" width="64">
        Loading beatmaps...
    </div>
</ng-template>
