@import '@angular/material/core/theming/theming';

html, body {
    height: 100%;
    margin: 0;
  }

  input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .main-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
      "sidebar header"
      "sidebar main";
    height: 100vh;
  }


  .side-bar{
    grid-area: sidebar;
    background: #f5f5f5;
    overflow-y: auto;
  }
  
  .header-content{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #f4f4f496;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:8px;
    padding-bottom: 8px;
  }

  .main-content{
    grid-area: main;
    padding: 16px;
    overflow-y: auto;
  }

  .latest-requests{
  }

  .search-bar input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    
  }

  .search-bar{
    display:flex;
    box-sizing: border-box;
    flex-grow: 1;
    border: solid 3px #9e9c9c;
    border-radius: 24px;
    padding: 4px; //The padding can change the size of the search bar
  }

  .search-icon {
  }

.request-button{
  display: flex;
  border-radius: 24px;
}

  .profile-icon {

  }

  .latest-maps{
    background-color: gray;
  }
