<div class="main-grid">
  <div class="side-bar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="header-content">
    <div class="search-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Search a map" #filter>
    </div>
    <div class="request-button">
      <button mat-flat-button href=" " color="warn">+ Request a map</button>
    </div>
    <div class="profile-icon">
      <button mat-fab aria-hidden="false" aria-label="Example home icon"
        fontIcon="home"></button>
    </div>
  </div>

  <div class="main-content">
    <div class="latest-requests">
      Latest Requests
    </div>
    
    <router-outlet></router-outlet>
  
  </div>
