<div class="main-grid">
  <div class="side-bar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="header-content">
    <app-searchbar></app-searchbar>
    <app-profile-button></app-profile-button>
  </div>

  <div class="main-content">
    <div class="latest-requests">
      Latest Requests
    </div>
  <router-outlet></router-outlet>
  </div>

  <div class="footer-content">
    <a class="github" href="https://github.com/pianosuki/graveboards/tree/master" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github" width="35px" height="35px"></a>
  </div>
</div>