@import '@angular/material/core/theming/theming';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body, .mat-app-background, .mat-typography {
  font-family: 'Nunito', sans-serif !important;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;
  column-gap: 22px;
  grid-template-areas:
      "sidebar header"
      "sidebar main";
  height: 100vh;
}

.header-section-content {
  grid-area: header;
  padding: 36px 22px 0 22px;
}

.main-section-content {
  grid-area: main;
  padding: 0 22px 22px 22px;
}

.sidebar-section-content {
  grid-area: sidebar;
}