.link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: light) {
  .link.active {
    background-color: #FFDAD6;
    color: #000000;
  }

  .link {
    color: #919191;
  }
}

@media (prefers-color-scheme: dark) {
  .link.active {
    background-color: #e82025;
    color: #FFF;
  }

  .link {
    color: #8c8c8c;
  }
}