<div class="beatmap-panel" *ngIf="beatmap">
    <div class="cover" [ngClass]="{hovered: isHovered}"
         [ngStyle]="{'background-image': 'url(' + this.beatmap.thumbnail + '), url(assets/default-bg.png)'}">
        <div class="length">
            {{ time.formatTime(beatmap.length) }}
        </div>
    </div>
    <div class="content">
        <div class="stamp">
            <img [ngSrc]=icon alt="" width="150" height="150">
        </div>
        <a class="mapper-avatar" [href]="'https://osu.ppy.sh/users/' + beatmap.mapper"
           [ngStyle]="{'background-image': 'url(' + beatmap.mapper_avatar + '), url(https://osu.ppy.sh/images/layout/avatar-guest@2x.png)'}" target="_blank"></a>
        <div class="info" (mouseenter)=onMouseEnter() (mouseleave)=onMouseLeave()>
            <a class="big-info no-wrap-ellipsis" [href]="'https://osu.ppy.sh/beatmapsets/' + beatmap.beatmapset_id"
               target="_blank">
                {{ beatmap.title }}
            </a>
            <div class="small-info no-wrap-ellipsis">
                by {{ beatmap.artist }}
            </div>
            <div class="small-info no-wrap-ellipsis">
                Mapped by
                <a [href]="'https://osu.ppy.sh/users/' + beatmap.mapper" target="_blank">
                    {{ beatmap.mapper }}
                </a>
            </div>
            <div class="difficulty-info">
                <difficulty-list [difficulties]="beatmap.difficulties"></difficulty-list>
                <div class="difficulties-list-detailed__animation-wrapper">
                    <detailed-difficulty-list [difficulties_details]="beatmap.difficulties_details"></detailed-difficulty-list>
                </div>
            </div>
        </div>
    </div>
</div>
