@import '@angular/material/core/theming/theming';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body, .mat-app-background, .mat-typography {
  font-family: 'Nunito', sans-serif !important;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  z-index: 4;
}

.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 333px;
  border-radius: 24px;
  height: 48px;
}

.request-button:disabled {
    background-color: #e0e0e0;
    color: #868484;
}

.request-button .small-icon {
  font-size: 16px;
}

.flex {
  display: flex;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: #0F0D13;
  }
}

@media (prefers-color-scheme: light) {
  .content {
    background-color: #fff;
  }
}