@import '@angular/material/core/theming/theming';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
  }

  body, .mat-app-background, .mat-typography {
    font-family: 'Nunito', sans-serif !important;
  }

  input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .header-content{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #f4f4f496;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:8px;
    padding-bottom: 8px;
  }

.search-bar input {
    width: 100%;
    box-sizing: border-box;
  }

  .search-bar{
    display:flex;
    box-sizing: border-box;
    flex-grow: 1;
    border: solid 1px #9e9c9c;
    border-radius: 24px;
    padding: 8px;
  }

  .search-icon {
  }

  .request-button button {
    border-radius: 15px; 
    min-width: 236px;
    border-radius: 24px;
    padding: 12px;
    height: auto;
  }

  .request-button .small-icon {
    font-size: 16px; 
    vertical-align: middle; 
  }



